/* Elements Dimensions Settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 500px;
    background: transparent;
    z-index: -1;
}
*::-webkit-scrollbar-thumb {
    border-radius: 500px;
    background-color: #38bdf8;
}
*::selection {
    color: var(--primary-color-500-MD);
    background: var(--secondary-color-500-MD);
}

body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 48px;
    font-family: Arial;
    background: #0f172a;
    color: #fff;
    padding: 144px var(--space-10) var(--space-4);
    /* overflow: hidden; */
}
/* mobile version */
body {
    padding: 144px var(--space-8) var(--space-8);
}
@media only screen and (max-width: 420px) {
    body {
        padding: 96px var(--space-4) var(--space-4);
    }
}

/* Navbar */
nav.navbar {
    position: fixed;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    padding: var(--space-4) var(--space-8);
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 24px 16px rgba(0, 0, 0, 0.25);
    user-select: none;
    z-index: 9999;
}
nav.navbar .effect {
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100% + 48px);
    pointer-events: none;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    z-index: -1;
    mask-image: linear-gradient(
        to bottom,
        black 0%,
        rgba(0, 0, 0, 0.95) 19%,
        rgba(0, 0, 0, 0.9) 34%,
        rgba(0, 0, 0, 0.825) 47%,
        rgba(0, 0, 0, 0.738) 56.5%,
        rgba(0, 0, 0, 0.541) 65%,
        rgba(0, 0, 0, 0.382) 73%,
        rgba(0, 0, 0, 0.278) 80.2%,
        rgba(0, 0, 0, 0.194) 86.8%,
        rgba(0, 0, 0, 0.126) 92.5%,
        rgba(0, 0, 0, 0.075) 97.1%,
        transparent 100%
    );
    -webkit-mask-image: linear-gradient(
        to bottom,
        black 0%,
        rgba(0, 0, 0, 0.95) 19%,
        rgba(0, 0, 0, 0.9) 34%,
        rgba(0, 0, 0, 0.825) 47%,
        rgba(0, 0, 0, 0.738) 56.5%,
        rgba(0, 0, 0, 0.541) 65%,
        rgba(0, 0, 0, 0.382) 73%,
        rgba(0, 0, 0, 0.278) 80.2%,
        rgba(0, 0, 0, 0.194) 86.8%,
        rgba(0, 0, 0, 0.126) 92.5%,
        rgba(0, 0, 0, 0.075) 97
    );
}

nav.navbar img {
    width: 128px;
}

nav.navbar .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-9);
    list-style: none;
}

nav.navbar .nav-links a {
    font-size: var(--fontSize-LG);
    font-weight: var(--fontWeight-Medium);
    text-decoration: none;
    text-transform: capitalize;
    color: var(--typography-color-HL1);
    transition: all ease-in-out 0.3s;
}
nav.navbar .nav-links a:hover,
nav.navbar .nav-links a.active {
    color: var(--typography-color-secondary);
}

.bubble {
    position: fixed;
    width: 256px;
    height: 256px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    filter: blur(256px);
    background: var(--secondary-color-500-MD);
    z-index: -9999;
}

.section {
    width: 100%;
}

.action-call-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

h1 {
    text-align: center;
}

.text-part {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: var(--space-1);
}

/* Top Arrow */
.topArrow {
    position: fixed !important;
    width: 56px;
    height: 56px;
    bottom: 0;
    right: var(--space-9);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
    transition: 0.4s all ease-in-out;
}
.topArrow:hover {
    transform: scale(1.07);
    border: 1px solid var(--primaryColor-1);
}
.topArrow.active {
    bottom: var(--space-8);
    opacity: 1;
}

/* Code Showen */
/* .code-showen {
    position: relative;
    width: 100%;
    height: 320px;
    border-radius: 10px;
    border: 2px solid #38bdf8;
    background: #020617 !important;
    opacity: .25;
    transition: all ease-in-out .3s;
    padding: 8px 24px !important;
} */

/* Copy Code Icon */
/* .copy-icon {
    position: absolute;
    width: 48px;
    height: 28px;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px 0px 2px 0px;
    border: 1px solid #1e293b;
    color: #ffffff;
    background: #38bdf8;
    cursor: pointer;
    z-index: 1;
}
.copy-icon.copied {
    transform: scale(1.1);
    transform-origin: bottom right;
} */


/* Design Side Panel */
@media only screen and (max-width: 769px) {
    .sidePanel {
        width: 100%;
        height: 56px;
        transition: all ease-in-out 0.3s;
    }
    .sidePanel.active {
        height: 100vh;
    }

    .sidePanel .sidePanel-header .profileInfo,
    .sidePanel .sidePanel-header .itemsContainer,
    .sidePanel .sidePanel-links {
        /* transform: translateX(-150%);
        transition: all ease-in-out .3s; */
        display: none;
    }
    .sidePanel.active .sidePanel-header .profileInfo,
    .sidePanel.active .sidePanel-header .itemsContainer,
    .sidePanel.active .sidePanel-links {
        /* transform: translateX(0); */
        display: flex;
    }
    .sidePanel .sidePanel-header {
        border-bottom: none;
    }
    .sidePanel.active .sidePanel-header {
        border-bottom: 1px solid var(--lightColor-1);
    }

    .sidePanel .sidePanel-controlling {
        height: 56px;
        justify-content: space-between;
        padding: var(--space-3) var(--space-6);
    }

    .sidePanel .sidePanel-controlling .logo {
        width: 32px;
    }

    .sidePanel .sidePanel-controlling .controls {
        display: block;
    }

    .sidePanel .menu {
        display: block;
    }
    .sidePanel.active .menu {
        display: none;
    }
    .sidePanel .close {
        display: none;
    }
    .sidePanel.active .close {
        display: block;
    }

    .sidePanel .itemsContainer {
        gap: var(--space-6);
        padding: var(--space-6) var(--space-8);
    }

    /* Main Content */
    .main {
        padding: calc(56px + var(--space-6)) var(--space-6) var(--space-6)
            var(--space-6);
    }
}

/* Cards Sizes */
@media only screen and (max-width: 768px) {
    .cardsContainer .cards {
        justify-content: center;
        gap: var(--space-6);
    }
    .card {
        width: calc((100% - 16px) / 2);
    }
}

@media only screen and (max-width: 414px) {
    .card {
        height: 190px;
    }
    .card .qrcode {
        width: 50%;
    }
    .card .qrType {
      width: 48px;
      height: 32px;
    }
    .card .qrType svg {
        width: 18px;
        height: 18px;
    }
}